*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}





/* nav bar blu */

.nav1{
  width:100vw;
  max-width:100%;
  background-color:#0d325a;
  height:60px;
  border-top:2px solid darkorange;
}

.nav-container{
  width: 1450px;
  margin: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.navbar::after{
  content: "";
  display: table;
  clear: both;
}

.navbar > .left::after{
  content: "";
  display: table;
  clear: both;
}

.left > *{
  float: left;
}

.navbar-image > img{
  height: 40px;
  width :65px;
}

.navbar-image{
  margin-top: 10px;
}

.navbar-item{
  line-height: 58px;
  color: white;
  margin-left: 30px;
}

.navbar-item:hover{
  line-height: 58px;
  background-color: white;
  color: #0d325a;
}





/* container 1000px */

.general-container{
  width: 65vw;
  margin: auto;
}





/* nav bar grigia */

.nav2{
  width:100vw;
  max-width:100%;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  padding: 20px;
  color: #0d325a;
  font-size: 20px;
}

.nav2 > .general-container::after{
  content: "";
  display: table;
  clear: both;
}


#nav2-lan{
  border-right: 2px solid #cbd6e2;
  padding: 3px 15px 3px 0px;
}

#nav2-sales{
  padding: 3px 15px 3px 15px;
}

#search{
  width:20px;
  height: 20px;
  position: relative;
  top:3px;
}

#login{
  color: #ff7a59;
  background-color: white;
  padding: 5px;
  border: 1px solid #ff7a59;
  border-radius: 2px;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
}

.orange-button{
  color: white;
  background-color: #ff7a59;
  padding: 5px;
  border: 1px none ;
  border-radius: 2px;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
}





/* nav barra bianca con sticky */

.nav3{
  width:100vw;
  max-width:100%;
  background-color: white;
  padding: 20px;
  color: #33475b;
  position: sticky;
  top: 0;
}

.nav3 > .general-container::after{
  content: "";
  display: table;
  clear: both;
}

.nav3 .right{
  margin-top: 5px;
}

.nav3 span{
  padding: 10px 25px 10px 25px;
}

.nav3 span:hover{
  background-color: white;
  color: #33475b;
  border: 2px solid #33475b;
  border-radius: 5px;
}





main{
  background-color:aliceblue;
}





/* background celeste */

.celeste{
  background-image: url("img/sfondo.jpg");
  background-size: cover;
  height: 600px;
  width: 100vw;
  max-width:100%;
}

.celeste > .general-container{
  color: white;
  padding: 0px 0px 50px 60px;
  width: 100%;
  height: 100%;
  background-image: url("img/sfondo.svg");
  background-size: cover;
}

.celeste-title-container{
  width: 30vw;
  padding: 30px 0px 50px 60px;
}

.celeste div{
  padding-top: 30px;
}

#celestetitle1{
  font-size: 60px;
}

#celestetitle2{
  font-size: 20px;
}

#celestebutton{
  width: 12vw;
  text-align: center;
  border: 2px solid white;
  background-color: white;
  padding:20px;
  margin-top:20px;
  color: #33475b;
  border-radius: 4px;
}

#celestebutton:hover{
  background-color: #cecece;
  border-color: #cecece;
}





/* sezione cubo */

.cubo{
  margin-top: 30px;
  text-align: center;
}

.cubo img{
  width: 20vw;
}

.cubo h2{
  font-size:30px;
  color:#0d325a;
  margin-bottom: 30px;
}

.cubo p{
  color: #0d325a;
  margin-bottom: 40px;
}





/* sezione box unico */

.box-unico .general-container{
  margin-top: 80px;
}

.box-unico img{
  width: 250px;
  height: 250px;
  padding-bottom:  10px;
}

#special-box{
  width:100%;
}

#special-box::after{
  content: " ";
  display: table;
  clear: both;
}

#box-item1{
  width:40%;
  padding: 10px;
}

#box-item2{
  width:60%;
  padding:20px;
}

.popular hr{
  display: inline-block;
  width: 65%;
}

.popular p{
  display: inline-block;
  padding: 10px;
}
.popular{
  margin: 40px 0 40px 0;
}

.box-item{
  text-align: center;
}

.box .orange-button{
  width: 40%;
  margin: auto;
}

.box-item {
  color: #0d325a;
  margin-bottom: 20px;
}

.box-item h2{
  font-size:30px;
  margin-bottom: 30px;
}

.box-item span{
  padding: 40px;
}





/* sezione white boxes con float */


.floated-boxes .general-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.floated-boxes .left{
  width: 100%;
}

.floated-boxes img{
  width: 250px;
  height: 250px;
  padding-bottom:  10px;
  padding-top: 15px;
}

.box .orange-button{
  margin-top: 20px;
}

.floated-boxes .general-container::after{
  content: " ";
  display: table;
  clear: both;
}

.box{
  background-color: white;
  border-radius: 5px;
  width: 31.3333%;
  padding: 10px;
}

#mid-margin{
  margin: 0 3% 0 3%;
}

.floated-boxes .box-item p , li{
  text-align: left;
  font-size: 15px;
}




/* sezione seagreen */

.seagreen{
  width: 100vw;
  max-width: 100%;
  background-color: lightseagreen;
  height: 800px;
  padding: 50px;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}

.seagreen-text {
  width: 50vw;
  margin: auto;
  margin-top: 50px;
}

.seagreen-text h1{
  font-size: 35px;
  padding: 15px;
}

.seagreen-text p{
  font-size: 19px;
  margin-bottom: 50px;
}

.seagreen-grid{
  width:1000px;
  margin: auto;
}

.grid-top::after{
  content: "";
  display: table;
  clear: both;
}

.grid-bot::after{
  content: "";
  display: table;
  clear: both;
}

.top-grid-box{
  width:250px;
  height:200px;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 0px;
  padding: 15px;
}

.top-grid-box > p , .bot-grid-box > p{
  display: inline-block;
  position: relative;
  top: 40px;
}

.bot-grid-box{
  width:250px;
  height:200px;
  text-align: center;
  border-right: 1px solid white;
  padding: 15px;
}

.special-grid-box{
  border-right: none;
}

.big-number{
  font-size: 40px;
  font-weight: 900;
  display: inline-block;
}

.big-number::after{
  content: "+";
  font-size: 20px;
}

.big-number-container{
  width: 50%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}




/* sezione partners */

.partners{
  margin-bottom: 80px;
}

.partners h2{
  font-size:40px;
  color:#0d325a;
}

.partners p{
  color: #0d325a;
  font-size: 25px;
}

.partners > .general-container::after{
  content: "";
  display: table;
  clear: both;
}

#left-container{
  width: 40%;
  padding:20px;
}

#right-container{
  width: 60%;
  padding: 10px;
}

.loghi-part-top::after{
  content: "";
  display: table;
  clear: both;
}

.loghi-part-bot::after{
  content: "";
  display: table;
  clear: both;
}

.loghi-part-top{
  width: 100%;
  padding: 10px;
}

.loghi-part-bot{
  width: 100%;
  padding: 10px;
}

#right-container img{
  width: 100px;
  height: 20px;
  padding-left: 50px;
}





/* sezione offerta */

.offerta > .general-container::after{
  content: "";
  display: table;
  clear: both;
}

.offerta h2{
  font-size:40px;
  color:#0d325a;
}

.offerta p{
  color: #0d325a;
  font-size: 15px;
}

.off-container{
  width: 50%;
  padding: 20px;
}

#persona-container > img {
  width: 200px;
  height: 250px;
}

.off-container > .orange-button {
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

#persona-container{
  background-color: pink;
  text-align: center;
  border-radius: 50%;
}

.orange-button:hover{
  opacity: 0.5;
}
