*{
  margin: 0;
  box-sizing: border-box;
}





/* nav bar blu */

.nav1{
  width:100vw;
  background-color:#0d325a;
  height:60px;
  border-top:2px solid darkorange;
}

.nav-container{
  width: 1450px;
  margin: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.navbar::after{
  content: "";
  display: table;
  clear: both;
}

.left::after{
  content: "";
  display: table;
  clear: both;
}

.left > *{
  float: left;
}

.navbar-image > img{
  height: 40px;
  width :65px;
}

.navbar-image{
  margin-top: 10px;
}

.navbar-item{
  line-height: 58px;
  color: white;
  margin-left: 30px;
}

.navbar-item:hover{
  line-height: 58px;
  background-color: white;
  color: #0d325a;
}





/* container 1000px */

.general-container{
  width: 70vw;
  margin: auto;
}





/* nav bar grigia */

.nav2{
  width:100vw;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  padding: 20px;
  color: #0d325a;
  font-size: 20px;
}

.nav2 > .general-container::after{
  content: "";
  display: table;
  clear: both;
}


#nav2-lan{
  border-right: 2px solid #cbd6e2;
  padding: 3px 15px 3px 0px;
}

#nav2-sales{
  padding: 3px 15px 3px 15px;
}

#search{
  width:20px;
  height: 20px;
  position: relative;
  top:3px;
}

#login{
  color: #ff7a59;
  background-color: white;
  padding: 5px;
  border: 1px solid #ff7a59;
  border-radius: 2px;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
}

#hsfree{
  color: white;
  background-color: #ff7a59;
  padding: 5px;
  border: 1px none ;
  border-radius: 2px;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
}





/* nav barra bianca */

.nav3{
  width:100vw;
  background-color: white;
  padding: 20px;
  color: #33475b;
}

.nav3 > .general-container::after{
  content: "";
  display: table;
  clear: both;
}

.nav3 .right{
  margin-top: 5px;
}

.nav3 span{
  padding: 10px 25px 10px 25px;
}

.nav3 span:hover{
  background-color: white;
  color: #33475b;
  border: 2px solid #33475b;
  border-radius: 5px;
}




/* background celeste */

.celeste{
  background-image: url("img/sfondo.jpg");
  background-size: cover;
  height: 600px;
}

.celeste > .general-container{
  color: white;
  padding: 70px 0px 50px 0px;
  width: 30vw;
  margin-left: 15vw;
}

.celeste div{
  padding-top: 40px;
}

#celestetitle1{
  font-size: 60px;
}

#celestetitle2{
  font-size: 20px;
}

#celestebutton{
  width: 12vw;
  text-align: center;
  border: 2px solid white;
  background-color: white;
  padding:20px;
  margin-top:20px;
  color: #33475b;
  border-radius: 4px;
}

#celestebutton:hover{
  background-color: #cecece;
  border-color: #cecece;
}





/* sezione cubo */

.cubo{
  margin-top: 30px;
  text-align: center;
}

.cubo img{
  width: 20vw;
}

.cubo h2{
  font-size:30px;
  color:#0d325a;
  margin-bottom: 20px;
}

.cubo h3{
  color: #0d325a;
}
